header {
    display:flex;
    align-items: inherit;
}

.cajaLogin1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaLogin2 {
    width: 400px;
    height: auto;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin: 0px 0px 0px 15px;
}

.cajaLogin3 {
    height: auto;
    background-color: rgba(0, 0, 0, 0.562);
    margin: 15px;
    border: 1px solid black;
    display: block;
    padding: 5px;
}

.conTexto {
    text-align: center;
    color: white;
}


.navbar {
    background: rgb(145, 145, 145);
    color: white;
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    overflow: hidden;
}

.navImg {
    float: left;
    margin: -4px 0px 0px 0px;
}

.imgUno {
    width: 100px;
    height: 45px;
}

.imgDos {
    width: 110px;
    height: 40px;
}

.navMenu {
    float: right;
    margin: -2px 8px 0px 0px;
}

.modalPrincipal {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.cajaMenu {
    position: relative;
    width: 140px;
    height: auto;
    border: 1px solid black;
    border-radius: 3px;
    background: rgba(114, 114, 114, 0.89);
    color: white;
    margin: 60px 0px 0px 440px;
}

.cajaMenu ul {
    list-style: none;
}

.cajaMenu ul li {
    display: inline-block;
    margin-left: -5px;
}

.cajaMenu ul li a {
    font-weight: bold;
    color: white;
    padding-top: 5px;
    display: block;
    text-decoration: none;
}

.cajaMenu ul li a:hover {
    box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.712);
}

.botonLogin{
    background-color: white;
    border-radius: 5px;
    color: black;
    margin: 0px 0px 10px 115px;
}

.botonLogin fa-icon {
    margin: 0px 0px 0px 5px;
}

.botonLogin:hover {
    box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.712);
}

.botonLogOut {
    background-color: rgb(150, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin: 10px 0px 0px 0px;
}

.botonLogin fa-icon {
    margin: 0px 0px 0px 5px;
}

.botonLogin:hover {
    box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.712);
}

.cajaPosicion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalll {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.589);
}

.modal-body {
    position: absolute;
    z-index: 1100;
}

.modal-content {
    background-color: white;
    width: 400px;
    height: auto;
    margin: -60px 0px 0px -250px;
    padding: 10px;
    text-align: center;
}

.textoLogin p {
    line-height: 4px;
}